.Black-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    background-color: #010101;
    color: #f1f1f1;
    padding: 0px 100px;
    height: 80px;
    align-items: center;
}

.Todos-logo {
    display: flex;
    padding: 8px 0px;
}

.More-from-us-btn {
    background-color: #4d4d4d;
    display: flex;
    padding: 10px 20px;
    font-size: small;
    font-weight: 800;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    ;
}

.More-from-us-btn:hover {
    transition: transform 0.5s ease 0s;
    background-color: #f1f1f1;
    color: #010101;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    
    
}

