.footer-btm{
    position: fixed;
    bottom: 0px;
    background-color: #0f1a20;
    height: 40px;
    width: 100%;
    color: #CDCCCC;
    display: flex;
    align-items: center;
    justify-content: center;

}